<%= stylesheet_link_tag "home", media:  "all" %>

<div class = "top-body">
  <div class = "container">
    <h2 class = "top-title">新規投稿</h2>
    <div class = "contents">
      <div class = "content-block">
        <% @post.each do|post| %>
        <h2 class = "rank">1.</h2>
        <div class = "content">
          <div class = "content-heading">
            <h2><%= post.title %></h2>
            <div class = "user">
              <img src = "/user_image/1.jpg" class = "user_image">
              <h3>ユーザ名</h3>
            </div>
          </div>
          <p><%= post.content%></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
