*{
  box-sizing: border-box;
}

body{

  margin: 0 auto;
}

header{
  height:100px;
  background-image: url("/header.png");
  background-size: cover;
}

.header-logo{
  height:100px;
  line-height: 100px;
  color:white;
  font-style:bold;
  float:left;
  font-size:60px;
}

.header-right{
  float:right;
  height:60px;
  color:white;
  font-size:30px;
  padding-top:40px;
  padding-right:10px;
}
