a{
  text-decoration: none;
}

.image-body{
  background-image: url("/Top_image.jpg");
  background-size:cover;
  height:90vh;
}

.ed{
  padding-top:20px;
}

.container{
  width:80%;
  height:100%;
  margin: 0 auto;
  padding-bottom:100px;
  padding-top:20px;
}

.input-container{
  width:80%;
  margin: 20px auto;
  border: 1px solid #eee;
  background-color:rgba(220, 220, 220, 0.8);
}

.signup-container{
  width:80%;
  margin: 20px auto;
}

.input-container h3, .signup-container h3{
  display: inline-block;
  text-align: center;
  width:100%;
  font-size:25px;
  padding-top:7px;
}

.signup-container h3{
  color:white;
  display:block;
  background-color:rgba(0, 64, 103, 0.8);
  margin: 0 auto;
  padding:0 30px;
}


.input-block{
  width:80%;
  margin: 10px auto;
  text-align: center;
}

.input-block p{
  display: inline-block;
  padding-right:10px;
  width:30%;
  text-align: right;
}


.inputform{
  width:70%;
  height:30px;
  display: inline-block;
  padding-right:20px;
  border-radius: 5px;
  border: 2px groove orange;
}

.inputfileform{
  width:70%;
  height:30px;
  display: inline-block;
  padding-right:20px;
  border-radius: 5px;
}

.bio{
  height:140px;
  width:70%;
}

.input-block h5{
  width:70%;
  display:inline-block;
  text-align:left;
  font-weight:normal;
}

.log-btn{
  display:block;
  margin: 20px auto;
  width:40%;
  padding: 10px 10px;
}

.btn{
  width:50%;
  display:block;
  text-align: center;
  color:black;
  background-color:#ff8c00;
  padding:10px 30px;
  margin:20px auto;
  border-radius:15px;
  font-size:23px;
  border:0px solid #ff8709;
}

.form-error{
  color:red;
  font-weight:bold;
}

.edit-body{
  width:70%;
  background-color:rgba(211,211,211,0.8);
  padding:20px 0;
  margin:0 auto;
  border-radius:4px;
  text-align:center;
}

.edit-body h2{
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
}

.usertop{
  width:200px;
  height:200px;
  border-radius:100px;
  display:block;
  margin: 0 auto;
}

.prof-body{
  width:80%;
  margin: 0 auto;
  padding-top:50px;
}

.username{
  display: block;
  font-size:40px;
  text-align: center;
  margin-top:20px;
}
